
.l-content {
  padding: 14px;
}

.title {
  padding: 20px 0 5px 0;
}

.l-coupons > li, .l-order-detail > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 0;
}

.text-bold {
  font-weight: bold;
}

.primary {
  color: #f77274;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 0.1em solid #e4e1df;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f77274;
}